/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    font: inherit;
}

/* UTILITIES */

.center {
    text-align: center;
}

/* CUSTOM VARIABLES */

:root {

}

body {
    background-image: linear-gradient(
        180deg,
        hsl(169deg 72% 65%) 0%,
        hsl(177deg 71% 55%) 11%,
        hsl(182deg 100% 43%) 22%,
        hsl(187deg 100% 45%) 33%,
        hsl(191deg 100% 46%) 44%,
        hsl(195deg 100% 47%) 56%,
        hsl(198deg 100% 48%) 67%,
        hsl(201deg 100% 47%) 78%,
        hsl(204deg 100% 47%) 89%,
        hsl(219deg 74% 59%) 100%
        );
    width: 100vw;
    height: 100vh;
    padding: 30px;

    font-family: 'Lato', sans-serif;
    color: #333;
}

.todo-list-container {
    margin: 0 auto;
    padding: 30px;
    background-color: #fdfffe;
    max-width: 450px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    border-radius: 6px;
}

h1 {
    font-size: 36px;
}

.todo-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;

    font-size: 20px;
}

.form-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.form-top input {
    width: 100%;
    padding: .5em;
    border: 1.5px solid #e6e6e6;
    border-radius: 5px;
    color: #757069;
}

.form-top button {
    padding: 0.5em 0.8em;
    background-color: #8e4aea;
    border: none;
    border-radius: 5px;
    color: #fdfffe;
}

.form-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-bottom button {
    padding: 0.5em 0.8em;
    background-color: #8e4aea;
    border: none;
    border-radius: 5px;
    color: #fdfffe;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: #333;
}

footer p {
    padding-top: .25em;
}

footer a:any-link {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

footer a:active {
    color: whitesmoke;
}

footer img {
    height: 1em;
    width: 1em;
}
